/* 
--------------------------------------------------------------------------------
--- download.html                                                            ---
--------------------------------------------------------------------------------
*/

#downloads tr td {
    vertical-align: top;
}

#downloads tr td div {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 170px;
    background-repeat: no-repeat;
    background-position: right center;
}

#downloads tr td h3 {
    padding-bottom: 12px;
    margin: 0px;
}

#downloads tr td p {
    padding-bottom: 2px;
    margin: 0px;
}

#downloads tr td a {
    font-size: 15px;
}

#downloads tr td hr ~ p > a {
    font-size: 13px;
}

#downloads tr td a b {
    font-size: 19px;
}

#downloads tr td span {
    font-size: 12px;
}

.download_main {
    padding-bottom: 5px !important;
}

.download_textsect {
    border: 0;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #dbdbdb;
}

#downloads2 {
    width: 100%;
    padding-top: 20px;
}

#downloads2 tr td {
    text-align: left;
    vertical-align: top;
    font-size: 13px;
    padding-left: 24px;
}

#downloads2 tr td h3 {
    margin: 0px;
}

.downloads_systems, .downloads_java {
    white-space: nowrap;
    padding-right: 30px;
}

.downloads_news {
    width: 100%;
}
