/* 
--------------------------------------------------------------------------------
--- Stretch Layout Style                                                     ---
--------------------------------------------------------------------------------
*/

html, body {
    height: 100%;
    width: 100%;
}

.content_main > div {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.stretch_container {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.stretch_first {
    margin-top: 30px;
    padding: 0px;
    border: 0px;
}

.stretch_last {
    margin-bottom: 50px;
    padding: 0px;
    border: 0px;
}

.stretch_row {
    display: table-row;
    height: 1px;
    width: 100%;
}

.stretch_filler {
    display: table-row;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
