<header class="site-header">
    
  <style>
    .menulnk {
        margin: 0px 5px 0px 5px;
        padding: 0px;
        border: 0px;
        color: inherit;
        text-decoration: none;
    }
    .menulnk:hover {
        text-decoration: underline;
    }
    
    .githubsvg {
        fill: gray;
    }
</style>

  <div class="wrapper">

      <div style="border-bottom: solid 1px; border-bottom-color: #a1bed4; background-color: #a9c7de;">
          
            <table width="100%" cellpadding="0" cellspacing="0" style="table-layout: fixed; margin:0px;padding:0px;border:0px">
                <tr>
                    <td width="120px" style="text-align:left; vertical-align:top;">
                        <a href="https://visualvm.github.io" title="VisualVM Home">
                            <img style="padding-left:10px; padding-right:7px; padding-top:5px; padding-bottom:5px;" src="http://visualvm.github.io/images/visualvm_logo_small.png" />
                        </a>
                    </td>
                    <td width="90%" style="text-align:center; vertical-align:top;">
                        <p style="padding-top:13px; padding-bottom:3px; padding-left:7px; padding-right:10px; margin:0px; font-size:13px; font-weight: normal; font-family:Open Sans; color:#444444;"><a class="menulnk" href="#">Features</a> <a class="menulnk" href="#">Downloads</a> <a class="menulnk" href="#">Plugins</a> <a class="menulnk" href="#">Documentation</a> | <a class="menulnk" href="#">Issues</a> <a class="menulnk" href="#">Mailing Lists</a> <a class="menulnk" href="#">Sources</a></p>
                    </td>
                    <td width="120px" style="text-align:right; vertical-align:top;">
                        <a href="https://github.com/visualvm" title="VisualVM @ GitHub">
                             <img style="padding-left:7px; padding-right:10px; padding-top:10px; padding-bottom:4px;" src="http://visualvm.github.io/images/visualvm_at_github.png" />
                        </a>
                    </td>
                </tr>
            </table>
          
      </div>

  </div>

</header>
