<footer>
    
    <div>
          
        <table>
            
            <tr>
                <td class="left">
                    <p>PROJECT OWNERS:</p>
                    <p>Jiri Sedlacek, <span class="footercontact">jiri.sedlacek&nbsp;[at]&nbsp;oracle.com</span></p>
                    <p>Tomas Hurka, <span class="footercontact">tomas.hurka&nbsp;[at]&nbsp;oracle.com</span></p>
                </td>
                
                <td class="right">
                    <p>LICENSE: <a href="gplv2+ce.html">GPLv2 + CE</a></p>
                    <p>Copyright &copy; 2017, 2020, Oracle Corporation and/or its affiliates. All rights reserved.</p>
                    <p>Sponsored by <img id="oracle_logo" src="{{ '/images/oracle_logo.png' | prepend: site.baseurl }}" /></p>
                </td>
            </tr>
            
        </table>
        
    </div>

</footer>
