<footer class="site-footer">

  <div class="wrapper">

    <div style="background-color: #eaeaea; border-top: solid 1px; border-top-color: #dbdbdb/*#aaaaff*/; padding-top:20px; padding-bottom:20px;">
          
        <center style="font-size:13px; font-weight:normal; font-family:Calibri Light">Project owners: Jiri Sedlacek, Tomas Hurka</center>
        
        <center style="font-size:13px; font-weight:normal; font-family:Calibri Light">Sponsored by <img src="https://netbeans.org/images_www/v7/design/logo_oracle.png" width="56" height="8" alt="Oracle logo" style="padding-left:1px;"/></center>
        
    </div>

  </div>

</footer>
