<header>
    
  <div>
      
        <table>
            <tr>
                <td id="header_left">
                    <a href="https://visualvm.github.io" title="VisualVM Home">
                        <img src="{{ '/images/visualvm_logo_small.png' | prepend: site.baseurl }}" />
                    </a>
                </td>
                
                <td id="header_center">
                    <a class="menulink" href="index.html">Home</a>
                    <a class="menulink" href="features.html">Features</a>
                    <a class="menulink" href="download.html">Download</a>
                    <a class="menulink" href="plugins.html">Plugins</a>
                    <a class="menulink" href="http://visualvm.java.net/docindex.html">Documentation</a>
                    |
                    <a class="menulink" href="https://github.com/visualvm/visualvm.src/issues">Issues</a>
                    <a class="menulink" href="https://java.net/projects/visualvm/lists">Mailing Lists</a>
                    <a class="menulink" href="https://github.com/visualvm/visualvm.src">Sources</a>
                </td>
                
                <td id="header_right">
                    <a href="https://github.com/visualvm" title="VisualVM @ GitHub">
                         <img src="{{ '/images/visualvm_at_github.png' | prepend: site.baseurl }}../images/visualvm_at_github.png" />
                    </a>
                </td>
            </tr>
        </table>

  </div>

</header>
