<header>
    
  <div>
      
        <table>
            <tr>
                <td id="header_left">
                    <a href="{{ '/' | prepend: site.baseurl }}" title="VisualVM Home">
                        <img src="{{ '/images/visualvm_logo_small.png' | prepend: site.baseurl }}" />
                    </a>
                </td>
                
                <td id="header_center">
                    <a class="menulink" href="{{ '/index.html' | prepend: site.baseurl }}">Home</a>
                    <a class="menulink" href="{{ '/features.html' | prepend: site.baseurl }}">Features</a>
                    <a class="menulink" href="{{ '/download.html' | prepend: site.baseurl }}">Download</a>
                    <a class="menulink" href="{{ '/plugins.html' | prepend: site.baseurl }}">Plugins</a>
                    <a class="menulink" href="{{ '/documentation.html' | prepend: site.baseurl }}">Documentation</a>
                    |
                    <a class="menulink" target="_blank" href="https://github.com/oracle/visualvm/issues">Issues</a>
                    <a class="menulink" href="{{ '/feedback.html' | prepend: site.baseurl }}">Feedback</a>
                    <a class="menulink" target="_blank" href="https://github.com/oracle/visualvm">Sources</a>
                </td>
                
                <td id="header_right">
                    <a href="https://github.com/oracle/visualvm" title="VisualVM @ GitHub">
                         <img src="{{ '/images/visualvm_at_github.png' | prepend: site.baseurl }}" />
                    </a>
                </td>
            </tr>
        </table>

  </div>

</header>
